.winners {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.winner-user {
  background-color: var(--color-winner-background);
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 /1;
  position: relative;
}

.winner-locked {
  position: relative;
  aspect-ratio: 1/1;
  background: linear-gradient(
    135deg,
    var(--gradient-start-color) 50%,
    var(--gradient-end-color) 50%
  );
  cursor: not-allowed;
}

.winner-locked.unlock {
  cursor: pointer;
}

.winner-locked input {
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.winner-locked-date {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.4em;
  height: 2.4em;
  margin: 0;
  font-size: 2em;
  line-height: 2.4em;
  background-color: var(--color-links);
  color: var(--color-background);
  border-radius: 50%;
  box-shadow: inset 0 0 10px 5px rgb(0 0 0 / 15%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.winner-locked input {
}

.winner-avatar {
  position: relative;
}

.winner-date {
  position: absolute;
  background-color: var(--color-links);
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-background);
  font-weight: 500;
  border-radius: 100%;
  left: -15px;
  top: -15px;
}
